<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.mypage.modify.mapper.MypageModifyMapper">

	<select id="list" parameterType="String" resultType="com.project.dd.mypage.modify.domain.ModifyDTO">
		select * from tblUser where email = #{email}
	</select>
	
	<update id="edit" parameterType="com.project.dd.mypage.modify.domain.ModifyDTO">
    UPDATE tblUser
    SET name = #{name},
        birth = #{birth},
        tel = #{tel},
        address = #{address}
    WHERE email = #{email}
</update>
	
</mapper>