<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.communication.review.mapper.ReviewMapper">
	<select id="getTotalCount" resultType="int">
		select count(*) from tblReview
	</select>
	
	<select id="getReviewList" parameterType="map" resultType="com.project.dd.communication.review.domain.ReviewDTO">
		select *
		from (select r.*, rownum as rnum from (select r.*, visit_date, (select img from tblReviewImg i where r.review_seq = i.review_seq and rownum = 1) as img from tblReview r inner join tblUserBook ub on r.user_book_seq = ub.user_book_seq inner join tblTicketBook tb on ub.ticket_book_seq = tb.ticket_book_seq
		<if test="order == 'n'.toString()">
			order by regdate desc, review_seq desc
		</if>
		<if test="order == 'y'.toString()">
			order by readcount desc, review_seq desc
		</if>
		) r)
		where rnum between #{startIndex} and #{endIndex}
	</select>

	<resultMap type="com.project.dd.communication.review.domain.ReviewDTO" id="reviewMap">
		<id property="review_seq" column="review_seq" />
		<result property="subject" column="subject" />
		<result property="content" column="content" />
		<result property="regdate" column="regdate" />
		<result property="readcount" column="readcount" />
		<result property="user_book_seq" column="user_book_seq" />
		<result property="visit_date" column="visit_date" />
		<collection property="imgList" resultMap="imgMap"></collection>
	</resultMap>
	
	<resultMap type="com.project.dd.communication.review.domain.ReviewImgDTO" id="imgMap">
		<id property="review_img_seq" column="review_img_seq" />
		<result property="img" column="img" />
		<result property="review_seq" column="review_seq" />
	</resultMap>
	
	<select id="getReview" parameterType="String" resultMap="reviewMap">
		select r.review_seq, r.subject, r.content, r.regdate, r.readcount, r.user_book_seq, r.visit_date, i.img
		from (select r.*, rownum as rnum from (select r.*, visit_date from tblReview r inner join tblUserBook ub on r.user_book_seq = ub.user_book_seq inner join tblTicketBook tb on ub.ticket_book_seq = tb.ticket_book_seq) r) r
			left outer join tblReviewImg i
				on r.review_seq = i.review_seq
		where r.review_seq = #{seq}
	</select>
	
	<update id="updateReadCount" parameterType="String">
		update tblReview set readcount = readcount + 1
	</update>
</mapper>