<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.communication.review.mapper.ReviewMapper">
	
	<!-- 총 개수 -->

	<select id="getTotalCount" parameterType="map" resultType="int">
		select count(*)
		from tblReview r
			inner join tblUserBook ub
		    	on r.user_book_seq = ub.user_book_seq
		    inner join tblUser u
		        on ub.user_seq = u.user_seq
		<if test="searchStatus == 'y'.toString()">
	        where name like '%' || #{word} || '%' or email like '%' || #{word} || '%'
	    </if>
	</select>

	<resultMap type="com.project.dd.communication.review.domain.ReviewDTO" id="reviewMap">
		<id property="review_seq" column="review_seq" />
		<result property="subject" column="subject" />
		<result property="content" column="content" />
		<result property="regdate" column="regdate" />
		<result property="readcount" column="readcount" />
		<result property="user_book_seq" column="user_book_seq" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="visit_date" column="visit_date" />
		<collection property="imgList" resultMap="imgMap"></collection>
	</resultMap>
	
	<resultMap type="com.project.dd.communication.review.domain.ReviewImgDTO" id="imgMap">
		<id property="review_img_seq" column="review_img_seq" />
		<result property="img" column="img" />
		<result property="review_seq" column="review_seq" />
	</resultMap>
	
	<!-- 목록 -->
	
	<select id="getReviewList" parameterType="map" resultMap="reviewMap">
		select r.review_seq, r.subject, r.content, r.regdate, r.readcount, r.user_book_seq, r.name, r.email, r.visit_date, i.img
		from (select r.*, rownum as rnum
		      from (select r.*, visit_date, u.name, u.email
		            from tblReview r
		                inner join tblUserBook ub
		                    on r.user_book_seq = ub.user_book_seq
		                inner join tblTicketBook tb
		                    on ub.ticket_book_seq = tb.ticket_book_seq
		                inner join tblUser u
		                    on ub.user_seq = u.user_seq) r
		            <if test="searchStatus == 'y'.toString()">
				        where name like '%' || #{word} || '%' or email like '%' || #{word} || '%'
				    </if>
				    ) r
		      left outer join tblReviewImg i
		      	  on r.review_seq = i.review_seq
		where rnum between #{startIndex} and #{endIndex}
		<if test="order == 'n'.toString()">
			order by regdate desc, review_seq desc
		</if>
		<if test="order == 'y'.toString()">
			order by readcount desc, review_seq desc
		</if>
	</select>
	
	<!-- 상세 -->

	<select id="getReview" parameterType="String" resultMap="reviewMap">
		select r.review_seq, r.subject, r.content, r.regdate, r.readcount, r.user_book_seq, r.name, r.email, r.visit_date, i.review_img_seq, i.img
		from (select r.*, rownum as rnum
		      from (select r.*, visit_date, u.name, u.email
		            from tblReview r
		                inner join tblUserBook ub
		                    on r.user_book_seq = ub.user_book_seq
		                inner join tblTicketBook tb
		                    on ub.ticket_book_seq = tb.ticket_book_seq
		                inner join tblUser u
		                    on ub.user_seq = u.user_seq) r) r
		    left outer join tblReviewImg i
		        on r.review_seq = i.review_seq
		where r.review_seq = #{seq}
	</select>
	
	<!-- 조회수 -->

	<update id="updateReadCount" parameterType="String">
		update tblReview set readcount = readcount + 1
	</update>
	
	<!-- 파일 수정 -->
	
	<delete id="editFile" parameterType="String">
		delete from tblReviewImg where review_img_seq = #{seq}
	</delete>
	
	<!-- 수정 -->
	
	<update id="editReview" parameterType="com.project.dd.communication.review.domain.ReviewDTO">
		update tblReview set subject = #{subject}, content = #{content} where review_seq = #{review_seq}
	</update>
	
	<!-- 파일 삭제 -->
	
	<delete id="deleteFile" parameterType="String">
		delete from tblReviewImg where review_seq = #{seq}
	</delete>
	
	<!-- 삭제 -->
	
	<delete id="deleteReview" parameterType="String">
		delete from tblReview where review_seq = #{seq}
	</delete>
</mapper>