<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.dd.shop.restaurant.mapper.RestaurantMapper">

	<select id="list" parameterType="map" resultType="com.project.dd.shop.restaurant.domain.RestaurantDTO">
		select *
      from (select n.*, rownum as rnum from (select * from vwRestaurant where lat != 0) n)
      where rnum between #{startIndex} and #{endIndex}
	</select>

</mapper>