<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.mypage.review.mapper.MypageReviewMapper">

	<select id="list" parameterType="map" resultType="com.project.dd.mypage.review.domain.ReviewDTO">
		select *
      from (select n.*, rownum as rnum from (select * from vwReview where email = #{email} ) n)
      where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<select id="getTotalCount" resultType="int">
      select count(*) from vwReview
    </select>
    
    <delete id="delete">
		delete from tblReview where review_seq = #{selectedReview}
	</delete>
	
	<delete id="imgDelete">
		delete from tblReviewImg where review_seq = #{selectedReview}
	</delete>
	
	<insert id="add" parameterType="com.project.dd.mypage.review.domain.ReviewDTO">
		INSERT INTO tblReview (review_seq, subject, content, regdate , readcount, user_book_seq)
		VALUES (seqtblReview.NEXTVAL, #{subject}, #{content}, default , 0 , #{user_book_seq})
	</insert>
	
</mapper>