<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.communication.lost.mapper.LostPropertyMapper">

	<!-- 총 개수 -->

	<select id="getTotalCount" parameterType="map" resultType="int">
	    select count(*)
	    from tblLostProperty
	    <where>
	        <if test="searchStatus == 'y'.toString()">
	            <if test="category == null and category == ''">
	                name like '%' || #{word} || '%' or location like '%' || #{word} || '%'
	            </if>
	            <if test="category != null and category != ''">
	                ${category} like '%' || #{word} || '%'
	            </if>
	            <if test="start != null and end != null and start != '' and end != ''">
	                and lost_property_date between #{start} and #{end}
	            </if>
	        </if>
	    </where>
	</select>
	
	<!-- 목록 -->
	
	<select id="getLostPropertyList" parameterType="map" resultType="com.project.dd.communication.lost.domain.LostPropertyDTO">
		select *
		from (select l.*, rownum as rnum
			  from (select *
			  		from tblLostProperty
			  		order by lost_property_seq desc) l
			  		<where>
				        <if test="searchStatus == 'y'.toString()">
				            <if test="category == null or category == ''">
				                name like '%' || #{word} || '%' or location like '%' || #{word} || '%'
				            </if>
				            <if test="category != null and category != ''">
				                ${category} like '%' || #{word} || '%'
				            </if>
				            <if test="start != null and end != null and start != '' and end != ''">
				                and lost_property_date between #{start} and #{end}
				            </if>
				        </if>
				    </where>
				    )
		where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<!-- 추가 -->
	
	<insert id="addLostProperty" parameterType="com.project.dd.communication.lost.domain.LostPropertyDTO">
		insert into tblLostProperty (lost_property_seq, type, name, location, lost_property_date, img, result)
		values (seqtblLostProperty.nextVal, #{type}, #{name}, #{location}, #{lost_property_date}, #{img, jdbcType=VARCHAR}, '보관중')
	</insert>
	
	<!-- 상세 -->
	
	<select id="getLostProperty" parameterType="String" resultType="com.project.dd.communication.lost.domain.LostPropertyDTO">
		select * from tblLostProperty where lost_property_seq = #{seq}
	</select>
	
	<!-- 기존 파일명 -->
	
	<select id="getFileName" parameterType="String" resultType="String">
		select img from tblLostProperty where lost_property_seq = #{seq}
	</select>
	
	<!-- 수정 -->
	
	<update id="editLostProperty" parameterType="com.project.dd.communication.lost.domain.LostPropertyDTO">
		update tblLostProperty set type = #{type}, name = #{name}, location = #{location}, lost_property_date = #{lost_property_date}, img = #{img, jdbcType=VARCHAR}, result = #{result} where lost_property_seq = #{lost_property_seq}
	</update>
	
	<!-- 삭제 -->
	
	<delete id="deleteLostProperty" parameterType="String">
		delete from tblLostProperty where lost_property_seq = #{seq}
	</delete>
</mapper>