<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.close.attraction.mapper.CloseAttractionMapper">

	<select id="getTotalCount" resultType="int">
		select count(*) from tblattractionclose
	</select>

	<select id="list" parameterType="map" resultType="com.project.dd.close.attraction.domain.CloseAttractionDTO">
		select ac.attraction_close_seq, a.name, ac.attraction_seq, to_char(ac.start_date, 'yyyy-MM-dd')as start_date, to_char(ac.end_date, 'yyyy-MM-dd')as end_date
		from tblattraction a inner join tblattractionclose ac on a.attraction_seq=ac.attraction_seq
	</select>
	
	<!-- 어트 운휴에 필요한 전체 어트랙션 리스트 가져오기 -->
	<select id="attlist" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
		select * from tblattraction
	</select>
	
	<insert id="addCloseAtt" parameterType="com.project.dd.close.attraction.domain.CloseAttractionDTO">
		insert into tblattractionclose (attraction_close_seq, start_date, end_date, attraction_seq)
    	values (seqtblAttractionClose.nextVal, #{start_date}, #{end_date}, #{attraction_seq, jdbcType=VARCHAR})
	</insert>
	
	<select id="getOne" parameterType="String" resultType="com.project.dd.close.attraction.domain.CloseAttractionDTO">
		select * from tblattractionclose where attraction_seq=#{attraction_seq}
	</select>
	
	
	<delete id="delCloseAttr" parameterType="String">
		delete from tblattractionclose where attraction_close_seq = #{seq}
	</delete>
	
	

</mapper>