<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.activity.theater.mapper.TheaterMapper">
	
	<!-- id == 인터페이스의 추상메서드의 이름 -->
	<!-- 페이징 -->
	<select id="getTotalCount" resultType="int">
      select count(*) from tblTheater
	</select>
	
	<select id="getTheaterList" parameterType="map" resultType="com.project.dd.activity.theater.domain.TheaterDTO">
		select *
		from (select n.*, rownum as rnum from
				(select * from tblTheater) n)
		where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<insert id="addTheater" parameterType="com.project.dd.activity.theater.domain.TheaterDTO">
		INSERT INTO tblTheater (theater_seq, name)
		VALUES (seqtblTheater.NEXTVAL, #{dto.name})
	</insert>
	
	<select id="getTheater" parameterType="String" resultType="com.project.dd.activity.theater.domain.TheaterDTO">
		select * from tblTheater where theater_seq = #{theater_seq}
	</select>
	
</mapper>