<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.communication.inquiry.mapper.InquiryMapper">
	<insert id="addInquiry" parameterType="com.project.dd.communication.inquiry.domain.InquiryDTO">
		insert into tblInquiry (inquiry_seq, type, subject, content, regdate, attach, answer, user_seq)
		values (seqtblInquiry.nextVal, #{type}, #{subject}, #{content}, #{regdate}, #{attach}, default, #{user_seq})
	</insert>
</mapper>