<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.guide.mapper.GuideMapper">
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tblConvenient
	</select>
	
	<select id="list" parameterType="map" resultType="com.project.dd.guide.domain.ConvenientDTO">
		select *
		from (select n.*, rownum as rnum from (select c.convenient_seq, c.name, c.time, c.tel, c.img, cl.lat, cl.lng 
		from tblconvenient c inner join tblconvenientlocation cl on c.convenient_seq=cl.convenient_seq order by cl.convenient_seq desc) n)
		where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<select id="one" resultType="com.project.dd.guide.domain.ConvenientDTO">
		select c.convenient_seq, c.name, c.time, c.tel, c.img, cl.lat, cl.lng from tblconvenient c inner join tblconvenientlocation cl on c.convenient_seq=cl.convenient_seq where c.convenient_seq=#{seq}
	</select>
	
	<!-- 여기부터는 guide-map -->
	<select id="getAttrList" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
		select a.name, al.lat, al.lng
		from tblattraction a inner join tblattractionlocation al on a.attraction_seq=al.attraction_seq
	</select>
	
	<select id="getFoodList" resultType="com.project.dd.shop.restaurant.domain.RestaurantDTO">
		select r.name, rl.lat, rl.lng
		from tblrestaurant r inner join tblrestaurantlocation rl on r.restaurant_seq=rl.restaurant_seq
	</select>
	
	<select id="getConvList" resultType="com.project.dd.guide.domain.ConvenientDTO">
		select c.name, cl.lat, cl.lng
		from tblconvenient c inner join tblconvenientlocation cl on c.convenient_seq=cl.convenient_seq
	</select>
	
	<select id="getGiftList" resultType="com.project.dd.shop.giftshop.domain.ShopDTO">
		select s.name, sl.lat, sl.lng
		from tblshop s inner join tblshoplocation sl on s.shop_seq=sl.shop_seq
	</select>
	
	<select id="getMovieList" resultType="com.project.dd.activity.theater.domain.TheaterDTO">
		select t.name, tl.lat, tl.lng
		from tbltheater t inner join tbltheaterlocation tl on t.theater_seq=tl.theater_seq
	</select>
	
	<select id="getPhotoList" resultType="com.project.dd.activity.photozone.domain.PhotoZoneDTO">
		select p.name, pl.lat, pl.lng
		from tblphotozone p inner join tblphotozonelocation pl on p.photozone_seq=pl.photozone_seq
	</select>
	
	<select id="getFestList" resultType="com.project.dd.activity.festival.domain.FestivalDTO">
		select f.name, fl.lat, fl.lng
		from tblfestival f inner join tblfestivallocation fl on f.festival_seq=fl.festival_seq
	</select>
	
	<!-- 관리자 편의시설 CRUD -->
	<select id="checkLocationDuplication" parameterType="com.project.dd.guide.domain.ConvenientDTO" resultType="int">
		select count(*)
		from tblconvenient c inner join tblconvenientlocation cl on c.convenient_seq = cl.convenient_seq
		where lat=#{lng} and lng=#{lng}
	</select>

	<select id="checkNameDuplication" parameterType="com.project.dd.guide.domain.ConvenientDTO" resultType="int">
		SELECT COUNT(*) FROM tblconvenient WHERE REPLACE(name, ' ', '') = #{name}
	</select>
	
	<!-- 추가 -->
	<insert id="addConv" parameterType="com.project.dd.guide.domain.ConvenientDTO">
		insert into tblConvenient (convenient_seq, name, time, tel, img)
		values (seqtblConvenient.nextVal, #{name}, '10:00 - 22:00', #{tel}, #{img, jdbcType=VARCHAR})
	</insert>
	
	<select id="getConvSeq" resultType="String">
		select max(convenient_seq) as convenient_seq from tblConvenient
	</select>
	
	<insert id="addConvLocation" parameterType="com.project.dd.guide.domain.ConvenientDTO">
		INSERT INTO tblConvenientLocation (convenient_location_seq, lat, lng, convenient_seq) VALUES (seqConvenientLocation.nextVal, #{lat}, #{lng}, #{convenient_seq})
	</insert>
	
	<!-- 삭제 -->
	<select id="countConvenientLocation" parameterType="String" resultType="int">
		select count(*) from tblconvenientLocation where convenient_seq = #{convenient_seq}
	</select>
	
	<delete id="delConvenientLocation" parameterType="String">
		delete from tblConvenientLocation where convenient_seq = #{convenient_seq}
	</delete>
	
	<delete id="delConvenient" parameterType="String">
		delete from tblConvenient where convenient_seq = #{convenient_seq}
	</delete>

</mapper>
