<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.test.worldcup.course.mapper.WorldCupCourseMapper">

	<select id="getTotalCount" resultType="int">
		select count(*) from tblCWC cwc
		join tblCourse c on cwc.course_seq = c.course_seq
		join tblCWCWin w on w.course_seq = c.course_seq
		join tblCWCFinalWin fw on fw.course_seq = c.course_seq
	</select>
	
	<select id="getTestCount" resultType="int">
		select count(*) from tblCWC cwc
		join tblCourse c on cwc.course_seq = c.course_seq
		join tblCWCWin w on w.course_seq = c.course_seq
		join tblCWCFinalWin fw on fw.course_seq = c.course_seq
		where cwc.is_test = 'Y'
	</select>
	
	<select id="getAllCourse" parameterType="map" resultType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		select * from (
		    select n.*, rownum as rnum FROM (
		    	select c.*,
		        	cwc.is_test,
		        	w.cwc_match_count,
		        	w.cwc_win_count,
		        	fw.cwc_final_win_count
		        from tblCWC cwc
		        join tblCourse c on cwc.course_seq = c.course_seq
		        join tblCWCWin w on w.course_seq = c.course_seq
		        join tblCWCFinalWin fw on fw.course_seq = c.course_seq
		    ) n
		) where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<update id="updateCourseStatus" parameterType="map">
	    update tblCWC
	    set is_test = #{isTest}
	    where course_seq = #{courseSeq}
	</update>
	
	<insert id="addCourse" parameterType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		insert into tblCourse (course_seq, name, img)
		values (seqtblCourse.nextVal, #{name}, #{img})
	</insert>
	
	<insert id="addCWC" parameterType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		insert into tblCWC (cwc_seq, is_test, course_seq)
		values (seqtblCWC.NEXTVAL, 'Y', #{course_seq})
	</insert>
	
	<insert id="addCWCWin" parameterType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		insert into tblCWCWin (cwc_win_seq, cwc_match_count, cwc_win_count, course_seq)
		values (seqtblCWCWin.NEXTVAL, 0, 0, #{course_seq})
	</insert>
	
	<insert id="addCWCFinalWin" parameterType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		insert into tblCWCFinalWin (cwc_final_win_seq, cwc_final_win_count, course_seq)
		values (seqtblCWCFinalWin.NEXTVAL, 0, #{course_seq})
	</insert>
	
	<select id="getCourseSeq" resultType="String">
		select max(course_seq) as course_seq from tblCourse
	</select>
	
	<select id="checkNameDuplication" parameterType="com.project.dd.test.worldcup.course.domain.CourseDTO" resultType="int">
		select count(*) from tblCourse where name = #{name}
	</select>
	
	<select id="getCWCFinalWinTotalCount" resultType="int">
		select sum(cwc_final_win_count) as total_cwc_final_win_count from tblCWCFinalWin
	</select>
	
	<select id="getCourse" parameterType="String" resultType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		select * from tblCourse where course_seq = #{courseSeq}
	</select>
	
	<update id="editCourse" parameterType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		update tblCourse set name = #{name}, img = #{img} where course_seq = #{course_seq}
	</update>
	
	<select id="getCourseImgFileName" parameterType="String" resultType="String">
		select img from tblCourse where course_seq = #{course_seq}
	</select>

	<delete id="delCourse" parameterType="String">
		delete tblCourse where course_seq = #{course_seq}
	</delete>
	
	<delete id="delCWC" parameterType="String">
		delete tblCWC where course_seq = #{course_seq}
	</delete>
	
	<delete id="delCWCWin" parameterType="String">
		delete tblCWCWin where course_seq = #{course_seq}
	</delete>
	
	<delete id="delCWCFinalWin" parameterType="String">
		delete tblCWCFinalWin where course_seq = #{course_seq}
	</delete>
	
	
	<select id="getCourseList" resultType="com.project.dd.test.worldcup.course.domain.CourseDTO">
		select
			c.*,
			cwc.is_test,
			w.cwc_match_count,
			w.cwc_win_count,
			fw.cwc_final_win_count
		from tblCWC cwc
		join tblCourse c on cwc.course_seq = c.course_seq
		join tblCWCWin w on w.course_seq = c.course_seq
		join tblCWCFinalWin fw on fw.course_seq = c.course_seq
		where cwc.is_test = 'Y'
	</select>
	
	<update id="updateCWCMatchCount" parameterType="String">
	    update
			tblCWCWin
		set cwc_match_count = cwc_match_count + 1
		where course_seq = #{courseSeq}
	</update>
	
	<update id="updateCWCWinCount" parameterType="String">
	    update
			tblCWCWin
		set cwc_win_count = cwc_win_count + 1
		where course_seq = #{courseSeq}
	</update>
	
	<update id="updateCWCFinalWinCount" parameterType="String">
	    update
			tblCWCFinalWin
		set cwc_final_win_count = cwc_final_win_count + 1
		where course_seq = #{courseSeq}
	</update>
	
</mapper>