<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.activity.attraction.mapper.AttractionMapper">

	<select id="list" parameterType="String" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
		select * from vwAttractionList where close = #{close}
	</select>
	
	<select id="get" parameterType="String" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
		select * from vwAttractionOne where attraction_seq = #{attraction_seq}
	</select>

</mapper>