<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.test.mbti.mapper.MBTIMapper">

	<!-- 페이징 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from tblMBTI
	</select>

	<select id="getAllMBTI" parameterType="map" resultType="com.project.dd.test.mbti.domain.MBTIDTO">
		select * from (
			select n.*, rownum as rnum from (
				select m.*,
					a.name as attraction_name,
					c.name as course_name
				from tblMBTI m
				join tblAttraction a on m.attraction_seq = a.attraction_seq
				join tblCourse c on m.course_seq = c.course_seq
				order by m.mbti_seq desc
			) n
		) where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<select id="getMBTI" parameterType="String" resultType="com.project.dd.test.mbti.domain.MBTIDTO">
		select
			m.*
		from tblMbti m
		join tblAttraction a
			on m.attraction_seq = a.attraction_seq
		where m.mbti_seq = #{mbti_seq}
	</select>
	
	<insert id="addMBTI" parameterType="com.project.dd.test.mbti.domain.MBTIDTO">
		insert into tblMBTI (mbti_seq, result, name, mbti_img, course_seq, attraction_seq)
		values (seqtblMBTI.NEXTVAL, #{result}, #{name}, #{mbti_img}, #{course_seq}, #{attraction_seq})
	</insert>
	
	<select id="checkMBTINameDuplication" parameterType="com.project.dd.test.mbti.domain.MBTIDTO" resultType="int">
		select count(*) from tblMBTI where name = #{name}
	</select>

</mapper>