@charset "UTF-8";

@charset "utf-8";
/************   reset *********************/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
html {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:none; -webkit-text-size-adjust:none;height:100%}
body {height: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; color: #454545;line-height: 1.5;background-color:#fff}
h1, h2, h3, h4, h5, h6 {font-weight:600}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure,  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {margin:0; padding:0;border:0}
ul li, ol li {list-style: none}
em, address {font-style:normal}
a {text-decoration: none; cursor: pointer;color: #666}

.webtong_tab_type02 li.on a, .webtong_tab_type02 li:hover a,
.webtong_tab_type02 li.on a:before, .webtong_tab_type02 li:hover a:before,
.webtong_tab_type05 li:after,
.webtong_tab_type05 li a,
.webtong_tab_type03 li:after, .webtong_tab_type03 li:after,
.webtong_tab_type04 li a:before, .webtong_tab_type04 li a:before,
.webtong_tab_type04 li a
{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}

/**webtong-tab***/
#contents {padding: 2% 2% 6% 2%}
.title01 {padding: 50px 0 20px}

.webtong_tab_type01 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7}
.webtong_tab_type01 li { display:table-cell; height:50px}
.webtong_tab_type01 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #444;line-height:50px;text-align:center}
.webtong_tab_type01 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type01 li.on a, .webtong_tab_type01 li:hover a {border-bottom-color:transparent; border-top:1px solid #444}
.webtong_tab_type01 li.on a:after, .webtong_tab_type01 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#444}
.webtong_tab_type01 li.on a:before, .webtong_tab_type01 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#444}

.webtong_tab_type02 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7;position:relative;background-color: #f1f1f1}
.webtong_tab_type02 li { display:table-cell; height:50px}
.webtong_tab_type02 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;line-height:50px;text-align:center;background-color: #fff}
.webtong_tab_type02 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type02 li.on a, .webtong_tab_type02 li:hover a {border-bottom-color:#f34b53; border-top:1px solid #f34b53;z-index: 1;background-color: #fd7c82;color:#fff}
.webtong_tab_type02 li.on a:after, .webtong_tab_type02 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#f34b53}
.webtong_tab_type02 li.on a:before, .webtong_tab_type02 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#f34b53}

.webtong_tab_type03 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7}
.webtong_tab_type03 li { display:table-cell; height:50px;position:relative}
.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {content: '';position: absolute;background-color: #444;height: 3px;top: 0;width: 0}
.webtong_tab_type03 li.on:after, .webtong_tab_type03 li:hover:after {width: 100%}

.webtong_tab_type03 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #444;line-height:50px;text-align:center}
.webtong_tab_type03 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type03 li.on a, .webtong_tab_type03 li:hover a {border-bottom-color:transparent}
.webtong_tab_type03 li:hover a {border-bottom-color:transparent}
.webtong_tab_type03 li.on a:after, .webtong_tab_type03 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#444}
.webtong_tab_type03 li.on a:before, .webtong_tab_type03 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#444}

.webtong_tab_type04 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7;position:relative;background-color: #f1f1f1}
.webtong_tab_type04 li { display:table-cell; height:50px}
.webtong_tab_type04 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;line-height:50px;text-align:center;background-color: #fff}
.webtong_tab_type04 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type04 li a:before, .webtong_tab_type04 li a:before{ content: '';display: block;position: absolute;left: 0;top: 0;height: 3px;width: 0;background-color: #fd7c82}
.webtong_tab_type04 li.on a:before, .webtong_tab_type04 li:hover a:before{ width: 100%}
.webtong_tab_type04 li.on a, .webtong_tab_type04 li:hover a {color: #fd7c82;font-weight: 600}

.webtong_tab_type05 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7;position:relative;background-color: #f1f1f1}
.webtong_tab_type05 li { display:table-cell; height:50px;position:relative;background-color: #fff}
.webtong_tab_type05 li:after {content: '';position: absolute;background-color: #fd7c82;bottom:0;left:0;width:100%;height:0}
.webtong_tab_type05 li.on:after, .webtong_tab_type05 li:hover:after { height:100%}
.webtong_tab_type05 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;line-height:50px;text-align:center}
.webtong_tab_type05 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type05 li.on a, .webtong_tab_type05 li:hover a {border-bottom-color:#fd7c82; border-top:1px solid #fd7c82;z-index: 1;color:#fff}
.webtong_tab_type05 li.on a:after, .webtong_tab_type05 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#fd7c82}
.webtong_tab_type05 li.on a:before, .webtong_tab_type05 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#fd7c82}

.webtong_tab_type06 {border-left: 1px solid #e7e7e7;border-bottom: 1px solid}
.webtong_tab_type06 li {display: table-cell}
.webtong_tab_type06 li.on {position:relative}
.webtong_tab_type06 li.on:before {position: absolute;content: '';background-color: #fff;width: 100%;height: 1px;bottom: -1px;left: 0px}
.webtong_tab_type06 li a {display: block;position: relative;border-top: 1px solid #e7e7e7;text-align: center;padding: 9px 38px}
.webtong_tab_type06 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type06 li.on a, .webtong_tab_type06 li:hover a {border-bottom-color:transparent; border-top:1px solid #444}
.webtong_tab_type06 li.on a:after, .webtong_tab_type06 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#444}
.webtong_tab_type06 li.on a:before, .webtong_tab_type06 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#444}

@media screen and (max-width: 780px) {
	.webtong_tab_type02 li {float: left;width: 33.33333%}
	.webtong_tab_type02 li:nth-child(n+4) {margin-top: -1px}
	.webtong_tab_type02:before {content: '';background-color: #e7e7e7;width: 1px;bottom: 0;right: 0;top: 0;position: absolute}
	.webtong_tab_type02:after {content: '';background-color: #e7e7e7;height: 1px;bottom: 0;right: 0;position: absolute;left: 0}
	
	.webtong_tab_type04 li {float: left;width: 33.33333%}
	.webtong_tab_type04 li:nth-child(n+4) {margin-top: -1px}
	.webtong_tab_type04:before {content: '';background-color: #e7e7e7;width: 1px;bottom: 0;right: 0;top: 0;position: absolute}
	.webtong_tab_type04:after {content: '';background-color: #e7e7e7;height: 1px;bottom: 0;right: 0;position: absolute;left: 0}
	
	.webtong_tab_type05 li {float: left;width: 33.33333%}
	.webtong_tab_type05 li:nth-child(n+4) {margin-top: -1px}
	.webtong_tab_type05:before {content: '';background-color: #e7e7e7;width: 1px;bottom: 0;right: 0;top: 0;position: absolute}
	.webtong_tab_type05:after {content: '';background-color: #e7e7e7;height: 1px;bottom: 0;right: 0;position: absolute;left: 0}
}
