<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.test.worldcup.attraction.mapper.WorldCupAttractionMapper">

	<select id="getTotalCount" resultType="int">
		select count(*)
	    from tblAWC awc
	    join vwAttractionList al
	    	ON awc.attraction_seq = al.attraction_seq
	</select>
   
	<!--
        어트랙션 리스트를 조회하는 쿼리입니다.
        - close 파라미터로 오픈 여부를 전달받습니다.
        - vwAttractionList와 tblAWC를 조인하여 테스트 여부가 'Y'인 어트랙션 정보만 가져옵니다.
        - 결과 타입은 AttractionDTO입니다.
    -->
	<select id="getAllAttraction" parameterType="map" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
	    SELECT * FROM (
		    SELECT n.*, ROWNUM AS rnum FROM (
		        SELECT al.*,
		               awc.is_test,
		               w.awc_match_count,
		               w.awc_win_count,
		               fw.awc_final_win_count
		        FROM tblAWC awc
		        JOIN vwAttractionList al ON awc.attraction_seq = al.attraction_seq
		        JOIN tblAWCWin w ON w.attraction_seq = al.attraction_seq
		        JOIN tblAWCFinalWin fw ON fw.attraction_seq = al.attraction_seq
		    ) n
		) where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<select id="getAttractionList" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
		select
			al.*,
			awc.is_test,
			w.awc_match_count,
			w.awc_win_count,
			fw.awc_final_win_count
		from vwAttractionList al
		join tblAWC awc on awc.attraction_seq = al.attraction_seq
		join tblAWCWin w on w.attraction_seq = al.attraction_seq
		join tblAWCFinalWin fw on fw.attraction_seq = al.attraction_seq
		where awc.is_test = 'Y'
	</select>
	
	<select id="getRunAttraction" parameterType="String" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
    	select
	        al.*
	    from tblAWC awc
	    join vwAttractionList al
	    	on awc.attraction_seq = al.attraction_seq
	    where al.close = #{close} and awc.is_test = 'Y'
	</select>
	
	<!--
        모든 어트랙션 월드컵 정보를 조회하는 쿼리입니다.
        - isTest 파라미터로 테스트 여부를 전달받습니다.
        - 결과 타입은 WorldCupAttractionDTO 리스트입니다.
    -->
	<select id="getAllAWC" parameterType="String" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionDTO">
		select * from tblAWC where is_test = #{isTest}
	</select>
	
	<!--
        모든 어트랙션 월드컵 승리 정보를 조회하는 쿼리입니다.
        - 결과 타입은 WorldCupAttractionDTO 리스트입니다.
    -->
	<select id="getAllAWCWin" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionWinDTO">
		select * from tblAWCWin
	</select>
	
	<!--
        모든 어트랙션 월드컵 최종 승리 정보를 조회하는 쿼리입니다.
        - 결과 타입은 WorldCupAttractionDTO 리스트입니다.
    -->
	<select id="getAllAWCFinalWin" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionFinalWinDTO">
		select * from tblAWCFinalWin
	</select>
		
	<update id="updateAttractionStatus" parameterType="map">
	    update tblAWC
	    set is_test = #{isTest}
	    where attraction_seq = #{attractionSeq}
	</update>
	
	<select id="getAWCFinalWinTotalCount" resultType="int">
		select sum(awc_final_win_count) as total_awc_final_win_count from tblAWCFinalWin
	</select>
	
	<!-- 
	<update id="updateAttractionStatus" parameterType="String">
	    UPDATE tblAWC
	    SET isTest = #{isTest}
	    WHERE attractionSeq = #{attractionSeq}
	</update>
	-->
	
	<insert id="addAWC" parameterType="com.project.dd.activity.attraction.domain.AttractionDTO">
		insert into tblAWC (awc_seq, is_test, attraction_seq)
		values (seqtblAWC.NEXTVAL, 'Y', #{attraction_seq})
	</insert>
	
	<insert id="addAWCWin" parameterType="com.project.dd.activity.attraction.domain.AttractionDTO">
		insert into tblAWCWin (awc_win_seq, awc_match_count, awc_win_count, attraction_seq)
		values (seqtblAWCWin.NEXTVAL, 0, 0, #{attraction_seq})
	</insert>
	
	<insert id="addAWCFinalWin" parameterType="com.project.dd.activity.attraction.domain.AttractionDTO">
		insert into tblAWCFinalWin (awc_final_win_seq, awc_final_win_count, attraction_seq)
		values (seqtblAWCFinalWin.NEXTVAL, 0, #{attraction_seq})
	</insert>
	
	<update id="updateAWCMatchCount" parameterType="String">
	    update
			tblAWCWin
		set awc_match_count = awc_match_count + 1
		where attraction_seq = #{attractionSeq}
	</update>
	
	<update id="updateAWCWinCount" parameterType="String">
	    update
			tblAWCWin
		set awc_win_count = awc_win_count + 1
		where attraction_seq = #{attractionSeq}
	</update>
	
	<update id="updateAWCFinalWinCount" parameterType="String">
	    update
			tblAWCFinalWin
		set awc_final_win_count = awc_final_win_count + 1
		where attraction_seq = #{attractionSeq}
	</update>
	
</mapper>