<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.test.worldcup.attraction.mapper.WorldCupAttractionMapper">

	<!--
        어트랙션 리스트를 조회하는 쿼리입니다.
        - close 파라미터로 오픈 여부를 전달받습니다.
        - vwAttractionList와 tblAWC를 조인하여 테스트 여부가 'Y'인 어트랙션 정보만 가져옵니다.
        - 결과 타입은 AttractionDTO입니다.
    -->
	<select id="getAllAttraction" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
    	SELECT
	        al.*
	    FROM tblAWC aws
	    JOIN vwAttractionList al ON aws.attraction_seq = al.attraction_seq
	</select>
	
	<select id="getRunAttraction" parameterType="String" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
    	SELECT
	        al.*
	    FROM tblAWC aws
	    JOIN vwAttractionList al ON aws.attraction_seq = al.attraction_seq
	    WHERE al.close = #{close} AND aws.is_test = 'Y'
	</select>
	
	<!--
        모든 어트랙션 월드컵 정보를 조회하는 쿼리입니다.
        - isTest 파라미터로 테스트 여부를 전달받습니다.
        - 결과 타입은 WorldCupAttractionDTO 리스트입니다.
    -->
	<select id="getAllAWC" parameterType="String" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionDTO">
		select * from tblAWC where is_test = #{isTest}
	</select>
	
	<!--
        모든 어트랙션 월드컵 승리 정보를 조회하는 쿼리입니다.
        - 결과 타입은 WorldCupAttractionDTO 리스트입니다.
    -->
	<select id="getAllAWCWin" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionWinDTO">
		select * from tblAWCWin
	</select>
	
	<!--
        모든 어트랙션 월드컵 최종 승리 정보를 조회하는 쿼리입니다.
        - 결과 타입은 WorldCupAttractionDTO 리스트입니다.
    -->
	<select id="getAllAWCFinalWin" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionFinalWinDTO">
		select * from tblAWCFinalWin
	</select>

</mapper>