<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dd.test.worldcup.attraction.mapper.WorldCupAttractionMapper">

	<!--
	<select id="listAttraction" parameterType="String" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
		select * from vwAttractionList where close = #{close}
	</select>
	-->
	
	<!-- 월드컵에 등록된 운영중인 어트랙션 리스트 조회 -->
	<select id="listAttraction" parameterType="String" resultType="com.project.dd.activity.attraction.domain.AttractionDTO">
    	SELECT
	        al.*
	    FROM tblAWC aws
	    JOIN vwAttractionList al ON aws.attraction_seq = al.attraction_seq
	    WHERE al.close = #{close} AND aws.is_test = 'Y'
	</select>
	
	<!-- 어트랙션 월드컵에 등록된 어트랙션 리스트 조회 -->
	<select id="listAWC" parameterType="String" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionDTO">
		select * from tblAWC where is_test = #{isTest}
	</select>
	
	<!-- 어트랙션 월드컵 승리 리스트 조회 -->
	<select id="listAWCWin" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionWinDTO">
		select * from tblAWCWin
	</select>
	
	<!-- 어트랙션 월드컵 최종 승리 리스트 조회 -->
	<select id="listAWCFinalWin" resultType="com.project.dd.test.worldcup.attraction.domain.WorldCupAttractionFinalWinDTO">
		select * from tblAWCFinalWin
	</select>

</mapper>