<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.mypage.buy.mapper.MypageBuyMapper">

	<select id="list" parameterType="map" resultType="com.project.dd.mypage.buy.domain.BuyDTO">
		select *
      from (select n.*, rownum as rnum from (select * from vwUserBuy where email = #{email} and buy_date &gt;= sysdate - INTERVAL '14' DAY ) n)
      where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<select id="plist" parameterType="map" resultType="com.project.dd.mypage.buy.domain.BuyDTO">
		select *
      from (select n.*, rownum as rnum from (select * from vwUserBuy where email = #{email} and buy_date &lt; sysdate - INTERVAL '14' DAY ) n)
      where rnum between #{startIndex} and #{endIndex}
	</select>
	
	<select id="getTotalCount" resultType="int">
      select count(*) from vwUserBuy where email = #{email} and buy_date &gt;= sysdate - INTERVAL '14' DAY
    </select>
    
    <select id="pGetTotalCount"  parameterType="String" resultType="int">
      select count(*) from vwUserBuy where email = #{email} and buy_date &lt; sysdate - INTERVAL '14' DAY
    </select>
    
    <delete id="delete">
		delete from tblUserBuy where user_buy_seq = #{selectedItem}
	</delete>
	
</mapper>