<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == 호출할 Interface 이름 적기 -->
<mapper namespace="com.project.dd.activity.movie.mapper.MovieMapper">
	
	<!-- Admin용 -->
	<!-- Admin용 페이징 -->
	<select id="getAdminPagingTotalPosts" parameterType="map" resultType="int">
		select count(*) from tblMovie where name not like '%(상영종료)%'
		<if test="searchStatus == 'y'.toString()">
	        and (name like '%' || #{word} || '%' or story like '%' || #{word} || '%')
	  	</if>
	  	order by movie_seq desc
	</select>
	
	<select id="getMovieList" parameterType="map" resultType="com.project.dd.activity.movie.domain.MovieDTO">
		select *
		from (select n.*, rownum as rnum from(
		
			select * from tblMovie where name not like '%(상영종료)%' order by movie_seq desc) n
			<if test="searchStatus == 'y'.toString()">
	        	where name like '%' || #{word} || '%' or story like '%' || #{word} || '%'
	  		</if>
			
		) where rnum between #{startIndex} and #{endIndex}
	</select> <!-- 페이징 끝 -->
	
	<insert id="addMovie" parameterType="com.project.dd.activity.movie.domain.MovieDTO">
		INSERT INTO tblMovie (movie_seq, name, story, runningtime, img, preview)
		VALUES (seqtblMovie.NEXTVAL, #{name}, #{story}, #{runningtime}, #{img}, #{preview})	
	</insert>
	
	<select id="getMovie" parameterType="String" resultType="com.project.dd.activity.movie.domain.MovieDTO">
		select * from tblMovie where movie_seq = #{movie_seq}
	</select>
	
	<select id="getMovieImgFileName" parameterType="String" resultType="String">
		select img from tblMovie where movie_seq = #{movie_seq}
	</select>
	
	<update id="editMovie" parameterType="com.project.dd.activity.movie.domain.MovieDTO">
		update tblMovie set name = #{name},  story = #{story}, runningtime = #{runningtime}, img = #{img}, preview = #{preview} where movie_seq = #{movie_seq}
	</update>
	
	<update id="delMovie" parameterType="String">
		update tblMovie set name = name || '(상영종료)' where movie_seq = #{movie_seq}
	</update>
	
</mapper>
