<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.dd.ticket.reservation.mapper.TicketReservationMapper">

	<insert id="groupReservation" parameterType="com.project.dd.ticket.reservation.domain.TicketReservationDTO">
		insert into tblGroupBook values (seqgroupbook.nextVal, sysdate, #{group_division}, #{region}, #{group_name}, #{address}, #{visit_date}, #{visit_time})
	</insert>
	
	<select id="getGroupSeq" resultType="String">
		select max(group_book_seq) as group_book_seq from tblGroupBook
	</select>
	
	<insert id="addUserGroup" parameterType="map">
		insert into tblusergroupbook values (sequsergroupbook.nextVal, #{user_seq}, #{seq})
	</insert>
	
	<select id="getList" parameterType="String" resultType="com.project.dd.pb.benefit.domain.BenefitDTO">
		select * from tblBenefit where type = #{type} and to_char(sysdate, 'YYYY-MM-DD') BETWEEN to_char(start_date, 'YYYY-MM-DD') AND to_char(end_date, 'YYYY-MM-DD')
	</select>

</mapper>